<p [ngClass]="estilo">d-atributos works!</p>
<button (click)="trocar()">Mudar cor</button>
<h1 [ngStyle]= "{'background':corFundo, 'color': corFonte}">Curso Angular</h1>

<ng-content select="h2">

</ng-content>

<h1>Lista de Compras</h1>
<p>* Adicione um item</p>
<input type="text" [(ngModel)]="item">
<button (click)=" addLista()">ADICIONAR</button>
<p>{{item}}</p>

<ul>
  <li *ngFor="let elemento of lista">{{elemento}}</li>
</ul>

<hr>
<ng-template [ngIf]="isEnableBlock">
  <a href="#">Finalizar Compras</a>
</ng-template><br><br>

<ng-template [ngIf]="true">
  <a href="#">ADICIONAR AO CARRINHO</a>
</ng-template>
<hr>
