<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My App</title>
</head>
<body>
  <main>
    <Header>
      <h1>My App Angular</h1>
      <app-title nome ="Produto 1"></app-title>
      <app-title nome ="Produto 2"></app-title>
      <app-check-sample *ngIf=" isAliveCheckSample"></app-check-sample>
      <button (click)="disposeCheckedSample()">Destruir</button>

    </Header>
  </main>

</body>
</html>

<router-outlet></router-outlet>
